<div id="content">

  <div id='iam'>
    当前检测IP为：<%=@remote_ip%>，掐指一算，你是<span><%=IPADDRESS[@remote_ip] || '...恩，不知道'%></span>
    ，完成管理<a href='/'>返回</a>
    ，可以看其他人选择的<a href='/look'>什么情况</a>
  </div>

  <div class="combination">
    <div class="sort">套餐盒饭</div>
    <% @lunchboxs.map do |lb| %>
      <div class="one one_base">
        <a class='one_delete' href='delete?id=<%= lb.id %>'>删除</a>
        <div class='lunchbox_name'><%= "#{lb.name}" %></div>
        <div class='lunchbox_desc'><%= "#{lb.desc}" %></div>
      </div>
    <% end %>

    <a id="cbox" href="#create_lunchbox">
      <div class="one one_base chosed" id='add_lunchbox'>
      </div>
    </a>
    <div class='hide'>
      <div id="create_lunchbox" class='create_box'>
        <div id='tit'>添加套餐盒饭</div>
        <form action="add" method="post">
          <div class='add_element'>
            <div class='add_title'>名称</div>
            <input name='is_box' type='hidden' value='1'></input>
            <input name='name' value='' placeholder="名称：点击输入"></input>
          </div>
          <div class='add_element'>
            <div class='add_title'>描述</div>
            <input name='desc' value='' placeholder="描述：点击输入"></input>
          </div>
          <div class='add_element'>
            <input type="submit" value='确定'></input>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="combination">
    <div class="sort">自选组合</div>
    <% @foods.map do |f| %>
      <div class='chose-one'>
        <a class='one_delete' href='delete?id=<%= f.id %>'>删除</a>
        <div class='til'><%= f.name %><span><%= f.desc %></span></div>
        <div class='mv'>
          <div class='mv-sort'>荤菜</div>
          <ul class='redio'>
            <% f[:mfoods].map do |mf| %>
              <li><%= mf[:name] %><a class='one_food_delete' href='food_delete?id=<%= mf.id %>'>删除</a></li>
            <% end %>
            <li>
              <form action="food_add" method="post">
                <input name='name' value='' placeholder="输入菜名"></input>
                <input type='hidden' name='menu_id' value='<%=f.id%>'></input>
                <input type='hidden' name='sort' value='1'></input>
                <input type='submit' value='添加'></input>
              </form>
            </li>
          </ul>
        </div>
        <div class='mv'>
          <div class='mv-sort'>素菜</div>
          <ul class='redio'>
            <% f[:vfoods].map do |vf| %>
              <li><%= vf[:name] %><a class='one_food_delete' href='food_delete?id=<%= vf.id %>'>删除</a></li>
            <% end %>
            <li>
              <form action="food_add" method="post">
                <input name='name' value='' placeholder="输入菜名"></input>
                <input type='hidden' name='menu_id' value='<%=f.id%>'></input>
                <input type='hidden' name='sort' value='2'></input>
                <input type='submit' value='添加'></input>
              </form>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <a id="cfood-create" href='#create_food'><div class='chose-one chosed' id='add_foodbox'></div></a>

    <div class='hide'>
      <div id="create_food" class='create_box'>
        <div id='tit'>添加自选菜单</div>
        <form action="add" method="post">
          <div class='add_element'>
            <div class='add_title'>名称</div>
            <input name='name' value='' placeholder="名称：点击输入"></input>
          </div>
          <div class='add_element'>
            <div class='add_title'>描述</div>
            <input name='desc' value='' placeholder="描述：点击输入"></input>
          </div>
          <div class='add_food'>
            <div class='add_title'>荤菜</div>
            <input name='mfood[]' value=''></input>
            <div id='mfood' class='add_on_more'>再添加一个</div>
          </div>
          <div class='add_food'>
            <div class='add_title'>素菜</div>
            <input name='vfood[]' value=''></input>
            <div id='vfood' class='add_on_more'>再添加一个</div>
          </div>
          <div class='add_element'>
            <input type="submit" value='确定'></input>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $("a#cbox").fancybox();
  $("a#cfood-create").fancybox();

  $('.add_on_more').click(function(){
    id = $(this).attr('id')
    $(this).before("<input name='"+id+"[]' value=''></input>");
  });

</script>